p {
    background-color: blue;
    color: rgb(231, 235, 4);
}

#kn {
    color: rgb(255, 208, 0);
    background-color:  blue;
    box-shadow: 0 10px 15px rgba(16, 3, 206, 0.1);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.sy {
    list-style-type: none;
    padding: 10px;
}

.input-group {
    background-color: rgba(2, 26, 241, 0.568);
    color: rgb(251, 255, 0);
}